.contentAll{
    /* border: 1px solid grey; */
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 14rem 10rem 10rem 10rem;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    box-shadow: 3px 3px 10px black;
}
img{
    width: 6rem;
}
.roundMask {
    width: 6rem; 
    height: 6rem;
    border-radius: 50%;
    overflow: hidden; 
    margin-left: 1rem;
  }

  .roundMask img {
    /* height: 100%; */
    width: 100%; /* Asegura que la imagen llene completamente la máscara */
    height: 100%; /* Asegura que la imagen llene completamente la máscara */
    object-fit: cover; /* Escala la imagen para cubrir la máscara sin deformarla */
    object-position: center center;
  }

