/* Chat Container */
.chat-container {
  max-width: fit-content; /* Ancho máximo */
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 9999;
}
.user-avatar {
  width: 30px;
  border-radius: 10px;
  margin: 10px;
}

.card {
  width: 400px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1em;
  /* Otros estilos... */
}

.card-body {
  padding: 20px;
}

/* Header */
.card h5 {
  margin: 1em;
  text-align: center;
}

/* Nickname Form */
.form-nickname {
  display: flex;
  margin-bottom: 20px;
}

.form-nickname input {
  flex: 1;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
}

.form-nickname button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.form-nickname button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Chat Form */
.form-chat {
  display: flex;
  margin-bottom: auto;
}

.form-chat input {
  flex: 1;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  margin-top: 2em;
}

.form-chat button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 1em;
  padding: 1em;
}

/* Chat Messages */
#content-chat {
  max-height: 400px; /* Establece una altura máxima */
  overflow-y: auto; /* Agrega un desplazamiento vertical cuando sea necesario */
}

/* Chat Messages */
.chat-bubble {
  max-width: 80%; /* Ajusta el ancho máximo según tus preferencias */
  word-wrap: break-word;
  padding: 10px;
  border-radius: 20px; /* Un radio de borde más grande para hacerlas más alargadas */
}

.user-message,
.other-message {
  display: inline-block;
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border-radius: 20px; /* Hazlo coincidir con el radio de borde de .chat-bubble */
  margin-bottom: 5px;
  max-width: 80%; /* Ajusta según tus preferencias */
  text-align: left; /* Alinea el texto a la izquierda */
}

.other-message {
  background-color: #dcdcdc;
  color: #333;
  text-align: left; /* Alinea el texto a la izquierda */
}
