.contALL {
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0;
    right: 1em;
    top: 6em;
    margin: auto;
    width: 70%;
    height: 10em;
    border-radius: 0.51em;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
   margin-bottom: 2em;
}

.titulo{
  color: #03315c;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 2em;
  margin-top: 0em;
}

.contImg {
    /* background-color: blue; */
    width: 9.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contDetails {
  /* background-color: green; */
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .contButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    /* background-color: red; */
  }
  .contButtonDEL {
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .profilePic {
    width: 90%;
    height: 90%;
    /* background-size: cover; */
    border-radius: 50%;
    /* object-fit: contain; */
    box-shadow: 0px 0px 6px 7pt #fff;
  }
  .h4 {
    color: #56013d;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 1.5em;
    margin-top: 0em;
    margin-left: 0em;
  }

  .description{
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 1em;
    margin-top: -1.7em;
    margin-left: 0em;
    margin-right: 0em;
  }

  .contButtonDetail {
    /* background-color: red; */
    /* margin-right: 2rem; */
  }

     .buttonContratar {
        position: relative;
        height: 2.2rem;
        width: 100%;
        margin-left: 0em;
        margin-top: 0em;
        padding: 5px 10px;
        border-radius: 7px;
        border: 1px solid rgb(61, 106, 255);
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        background: rgb(90, 148, 199);
        color: #fff;
        overflow: hidden;
        box-shadow: 0 0 0 0 transparent;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        cursor: pointer;
      }
      
      .buttonContratar:hover {
        background: rgb(61, 106, 255);
        box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
      }
      
      .buttonContratar:hover::before {
        -webkit-animation: sh02 0.5s 0s linear;
        -moz-animation: sh02 0.5s 0s linear;
        animation: sh02 0.5s 0s linear;
      }
      
      .buttonContratar::before {
        content: '';
        display: block;
        width: 0px;
        height: 86%;
        position: absolute;
        top: 7%;
        left: 0%;
        opacity: 0;
        background: #fff;
        box-shadow: 0 0 50px 30px #fff;
        -webkit-transform: skewX(-20deg);
        -moz-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
        -o-transform: skewX(-20deg);
        transform: skewX(-20deg);
      }
      
      @keyframes sh02 {
        from {
          opacity: 0;
          left: 0%;
        }
      
        50% {
          opacity: 1;
        }
      
        to {
          opacity: 0;
          left: 100%;
        }
      }
      
      .buttonContratar:active {
        box-shadow: 0 0 0 0 transparent;
        -webkit-transition: box-shadow 0.2s ease-in;
        -moz-transition: box-shadow 0.2s ease-in;
        transition: box-shadow 0.2s ease-in;
      }
    
    
.deleteButton {
  /* position: absolute; */
  margin-right: 1em;
  margin-top: -1em;
  /* padding: 5px 10px; */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(193, 8, 8);
  border: none;
  font-weight: 600;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
}
      
.deleteSvgIcon {
  width: 15px;
  transition-duration: 0.3s;
}

.deleteSvgIcon path {
  fill: white;
}

.deleteButton:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.deleteButton:hover .deleteSvgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.deleteButton::before {
  content: "Eliminar";
  color: white;
  transition-duration: 0.3s;
  font-size: 1.5em;
  display: none;
}

.deleteButton:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (max-width: 768px){

.contALL {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contImg {
  margin-top: 0.5rem;
}
.contDetails {
  margin-top: 0.5rem;
}
.contButtons {
  /* background-color: rebeccapurple; */
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.contButtonDEL {
  margin-top: 0.8rem;
}
.deleteButton {
  margin-right: 3rem;
}
.buttonContratar {
  margin-right: 2rem;
}

.contButtonDetail {
  /* background-color: red; */
  margin-right: 2rem;
}



}




