/* .inputs {
  background-color: rgba(255, 235, 205, 0.233) !important;
  border: 10px 5px 5px 5px;
}
.inputs::placeholder,
label {
  color: white;
}

.inputs:hover {
  border-color: rgb(224, 78, 98) !important;
  border-width: 2px !important;
}

.inputs:focus {
  background-color: rgba(255, 255, 255, 0.144) !important;
} */
.form-container {
  display: flex;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  height: 100%;
  
}

.selectRegisterProf{
  width: 100%;
  height: 3.5rem;
  background-color: transparent;
  color: #7c7c7c;
  border-radius: 3px;
  border: 1px solid #7c7c7c;
  padding: 0.5rem;
  font-size: 1rem;
}
